# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Database
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

NODE_ENV=deployment
PORT=3000

# JWT
JWT_ACCESS_TOKEN_SECRET=example_access_token_secret
JWT_ACCESS_TOKEN_EXPIRES_IN=7d
JWT_REFRESH_TOKEN_SECRET=example_refresh_token_secret
JWT_REFRESH_TOKEN_EXPIRES_IN=30d

# Redis
REDIS_URL=redis://default:exampleredisurl:6379/0
CACHE_TTL=60
CACHE_MAX_ITEMS=100

